<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xulei.myblogbackend.mapper.LinkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xulei.myblogbackend.entity.Link">
        <id column="link_id" property="linkId" />
        <result column="link_title" property="linkTitle" />
        <result column="link_url" property="linkUrl" />
        <result column="link_logo_url" property="linkLogoUrl" />
        <result column="link_add_time" property="linkAddTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        link_id, link_title, link_url, link_logo_url, link_add_time
    </sql>

</mapper>
